saga-orchestration/order-process.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "CreateOrder",
    "States": {
        "CreateOrder": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${create_order_arn}",
                "Payload": "{% $states.input %}"
            },
            "Next": "ChargePayment",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Output": "{% {\n \"Payload\": $states.input, \"errorDetails\": $states.errorOutput \n } %}",
                    "Next": "CancelOrder"
                }
            ],
            "Output": "{% $states.result.Payload %}"
        },
        "CancelOrder": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${cancel_order_arn}",
                "Payload": "{% $states.input %}"
            },
            "End": true
        },
        "ChargePayment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${charge_payment_arn}",
                "Payload": "{% $states.input %}"
            },
            "Next": "ReserveInventory",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Output": "{% {\n \"Payload\": $states.input, \"errorDetails\": $states.errorOutput \n } %}",
                    "Next": "RefundPayment"
                }
            ]
        },
        "RefundPayment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "${refund_payment_arn}",
                "Payload": "{% $states.input %}"
            },
            "Next": "CancelOrder"
        },
        "ReserveInventory": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${reserve_inventory_arn}",
                "Payload": "{% $states.input %}"
            },
            "Next": "Success",
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "ReleaseInventory"
                }
            ]
        },
        "ReleaseInventory": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "${release_inventory_arn}",
                "Payload": "{% $states.input %}"
            },
            "Next": "RefundPayment"
        },
        "Success": {
            "Type": "Succeed"
        }
    },
    "QueryLanguage": "JSONata"
}